body {
  background-color: #ebebeb !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tituloP {
  margin-top: 10px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #666;
}

.Carrusel {
  max-height: 520px !important;
}

.nav-link {
  background-color: transparent !important;
}

.imagenCar {
  width: 1280px;
  height: auto;
  min-height: 320px;
  max-height: 620px;
}

.tablaCart {
  height: 6rem;
}

.flexLogin {
  display: flex;
  justify-content: center;
}

.login {
  text-align: center;
  border: solid 3px #474544;
  width: max-content;
  background-color: #F2F3EB;
  padding: 30px;
  margin-top: 30vh;
  height: max-content;
  font-family: "Times New Roman", Times, serif;
}

.inputName {
  margin: 10px;
  padding: 10px;
}

.inputYears {
  margin: 10px;
  padding: 10px;
}

.botonLogin {
  border: none;
  background-color: rgb(13, 214, 13);
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.imagenTabla {
  height: 6rem;
}

.colorNav {
  background-color: yellow;
}

.sNav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  background-color: rgb(223, 223, 7);
  padding: 5px;
}

.card-group {
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  gap: 40px;
  justify-content: center;
}
.card-group .card-body {
  background-color: white;
  max-width: 300px !important;
  min-width: 300px !important;
  overflow: hidden;
  height: max-content;
  box-shadow: 2px 3px 8px;
  border-radius: 10px !important;
  cursor: pointer;
}
.card-group .card-body .imagen-card {
  height: 200px;
  max-width: 500px !important;
  text-align: center !important;
  box-shadow: 1px 1px 2px;
}
.card-group .card-body .comprar {
  width: 100%;
  border: none;
  background-color: rgb(7, 197, 7);
  color: aliceblue;
  padding: 5px;
  bottom: 0;
  position: relative;
}
.card-group .card-body:hover {
  transition: all 0.5s !important;
  font-size: 20px !important;
  width: 400px !important;
}

.main-footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #313131;
  padding-top: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.flexB {
  justify-content: center;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.cardVenderContainer {
  display: flex;
  justify-content: center;
}
.cardVenderContainer .cardVender {
  width: 300px;
  height: 310px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 2px 2px 8px black;
  background-color: aliceblue;
  border-radius: 10px;
}
.cardVenderContainer .cardVender .cardVenderBody {
  width: 260px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
.cardVenderContainer .cardVender .cardVenderBody .cardVenderImagen {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 10px black;
  margin-bottom: 10px;
  width: 260px;
}

#container {
  border: solid 3px #474544;
  background-color: #F2F3EB;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}
#container button {
  overflow: visible;
}
#container button, #container select {
  text-transform: none;
}
#container button, #container input, #container select, #container textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}
#container input {
  line-height: normal;
}
#container textarea {
  overflow: auto;
}
#container form {
  padding: 37.5px;
  margin: 50px 0;
}
#container h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}
#container .underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}
#container .icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}
#container .icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}
#container .email {
  float: right;
  width: 45%;
}
#container input[type=text], #container [type=email], #container select, #container textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#container input[type=text]:focus, #container [type=email]:focus, #container textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}
#container .message {
  float: none;
}
#container .name {
  float: left;
  width: 45%;
}
#container select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#container select::-ms-expand {
  display: none;
}
#container .subject {
  width: 100%;
}
#container .telephone {
  width: 100%;
}
#container textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}
#container ::-webkit-input-placeholder {
  color: #474544;
}
#container :-moz-placeholder {
  color: #474544;
  opacity: 1;
}
#container ::-moz-placeholder {
  color: #474544;
  opacity: 1;
}
#container :-ms-input-placeholder {
  color: #474544;
}
#container #form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#container #form_button:hover {
  background: #474544;
  color: #F2F3EB;
}
@media screen and (max-width: 768px) {
  #container #container {
    margin: 20px auto;
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  #container h1 {
    font-size: 26px;
  }
  #container .underline {
    width: 68px;
  }
  #container #form_button {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 420px) {
  #container h1 {
    font-size: 18px;
  }
  #container .icon {
    height: 35px;
    width: 35px;
  }
  #container .underline {
    width: 53px;
  }
  #container input[type=text], #container [type=email], #container select, #container textarea {
    font-size: 0.875em;
  }
}

/*# sourceMappingURL=index.css.map */
